@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  /* display: flex;
  flex-direction: column; */
}

.extraSmallIcon {
  width: 10px;
  position: relative;
}

.smallIcon {
  width: 12px;
  position: relative;
}

.small_medium {
  width: 16px;
  position: relative;
}

.mediumIcon {
  width: 20px;
  position: relative;
}

.largeIcon {
  width: 28px;
  position: relative;
}

.extraLargeIcon {
  width: 40px;
  position: relative;
}

.links {
  all: unset;
}

.links:hover {
  cursor: pointer;
}

.profileImgs {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.generalLoadingIcon {
  width: 26px;
  height: 26px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.generalLoadingIconSmall {
  width: 16px;
  height: 16px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.generalLoadingIconLarge {
  width: 140px;
  height: 140px;
  border: 15px solid #45458d;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hoverable:hover {
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  cursor: pointer;
}
button:hover {
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  cursor: pointer;
}

input:focus{
  outline: none;
}

.errorText{
  font-size: 15px;
  color: red;
}

.link{
  all: unset;
}
